*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container
{
    background-color: #38144c;
    min-height: 100vh;
    padding: 100px;
    width: 100%;
}

.main
{
    box-shadow: -2px 0px 158px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: -2px 0px 158px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: -2px 0px 158px 1px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
}

.header
{
    color: #fff;
}

.box-element
{
    min-height: 20vh;
    background-color: #08000c;
    /* margin-bottom: 20px; */
}

.i1
{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.i1 a
{
    color: #fff;
    text-decoration: none;
    margin: 0px 20px;
}

.i1 .left a
{
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: 900;
}

.i2
{
    background-color: #230633;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i2-left, .i2-right
{
    width: 500px;
    /* background: #08000c; */
    /* min-height: 50vh; */
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
}

.i2-left
{
    padding:70px 0;
}

.icons i
{
    color: #fff;
    padding: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-right: 20px;
}

.icons
{
    display: flex;

}

.banner-text
{
    font-size: clamp(3rem, 2.5vw, 5rem);
    color: #fff;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20pxov;
}

.small-banner-text
{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.banner-buttons
{
    margin: 20px 0px;
}

.banner-buttons a
{
    padding:10px 20px;
    /* background-color: #fff; */
    border: 2px solid red;
    border-radius: 50px;
    color:#fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.banner-buttons .sec-btn
{
    background-color: red;
    margin-left: 20px;
}

.i3
{
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red-head
{
    color: red;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.i3 > h3
{
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 20px;
}

.i3 .small-text
{
    width: 100%;
    /* border: 1px solid #fff; */
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
}

hr
{
    width: 10%;
    border:2px solid red;
}

.item-container
{
    width: 70%;
    min-height: 50vh;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-left: 170px; /* Edited */
    align-items: center;
    /* justify-content: center; */
}

.item-element1
{
    flex-basis: 23%;
    align-self: flex-start; /* edited */
    justify-self: flex-start; /* edited */
    min-height:250px; /* edited */
    background-color: #230633;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.item-element1 i
{
    color: red;
    /* font-size: 40rem; */
    font-size: clamp(1rem, 4vw, 5rem);
    margin-bottom: 30px;
}

.item-element1 h4
{
    font-size: clamp(1rem, 4vw, 1.7rem);
    margin-bottom: 10px;
}

.i4
{
    background: #38144c;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 50px;
}

.i4 .about-top
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.about-top h3
{
    color: #fff;
    font-size: clamp(1.3rem, 3vw, 2.5rem);

}

.i4 .about-down
{
    display: flex;
    width: 70%;
    /* border: 1px solid #fff; */
    min-height: 5vh;
    padding: 50px;
    margin: 20px 0;
    /* padding-left: 170px; */ /* Edited */
}

.i4 .small-text
{
    text-align: center;
    margin: 30px;
}

.img-div
{
    margin: 0px 30px;
    min-width: 200px;
    min-height: 200px;
    /* border: 1px solid #fff; */
}

.hi-there
{
    min-width: 200px;
    min-height: 200px;
    /* border: 1px solid #fff; */
    padding: 20px;
}

.hi-there > p
{
    font-size: clamp(1.3rem, 3vw, 2.5rem);
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.hi-there > span
{
    color: #fff;
    line-height: 10px;  
    width: 100%;                         
}

.hi-there > div
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    min-height: 200px;
}

.hi-there > div > span
{
    width: 200px;
    /* height: 100px; */
    color:#fff;
    /* border: 1px solid #fff; */
    margin: 10px 10px 10px 0; /* top right bottom left */
}

.span-top
{
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}

.right-2
{
    display: none;
}

.sm-txt /* edited */
{
    font-weight: 100;
    line-height: 30px;
}

.fa-bars
{
    /* color: #fff; */
    display: none;
}

@media(max-width: 1000px)
{
    .i1 .right
    {
        display: none;
    }

    #right-2
    {
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 1;
        background: #2f2f2f;
        padding: 10px;
        /* transition: 10s ease-in-out; */
    }

    .fa-bars, .fa-times 
    {
        color: #fff;
        display: block;
        padding:5px;
    }

    .i2-right
    {
        display: none;
    }

    .item-container
{
    width: 70%;
    min-height: 50vh;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    /* padding-left: 170px; */ /* Edited */
    align-items: center;
    /* justify-content: center; */
}

.i4 .about-down
{
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    /* border: 1px solid #fff; */
    min-height: 5vh;
    padding: 50px;
    margin: 20px 0;
    /* padding-left: 170px; */ /* Edited */
}

.hi-there > div
{
    width: 200px;
    border: 1px solid #fff;
    flex-direction: column;
    text-align: center;
}

}


